body{
    position: relative;
}

body, .dropdown-menu{
    width: 100vw;
    background-color: black;
}

nav{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: black;
    z-index: 1;
}

.card-container{
    margin-top: 100px;
}

.dropdown-menu{
    inset: 15px auto auto 0px !important;
}

#dropdownMenu2:focus, .cardsBtn:focus, .cart-delete:focus{
    background-color: fuchsia;
    border-color: fuchsia;
    box-shadow: none;
}

.cardsBtn, .skipBtn, .detailsBtn{
    height: 25px !important ;
    width: 65px;
    margin-top: 5px;
}

.detailsBtnLink{
    color: white;
    text-decoration: none;
}

.detailsBtnLink:hover{
    color: white;
}

.logo{
    height: 45px;
    margin: 25px 10px 0px 10px;
}

.link-nav{
    list-style-type: none;
    padding: 5px;
}

.link-nav > a{
    color: white;
    text-decoration: none;
    font-size: 10pt;
    text-shadow: 1px 2px fuchsia;
}

.social{
    padding: 0px 20px;
}

.social > i{
    color: white;
    padding: 10px;
    text-shadow: 1px 2px fuchsia;
    cursor: pointer;
}

.social > i:hover, .link-nav >a:hover{
    color: fuchsia;
    text-shadow: none;
}

.search{
    color: white;
    border-radius: 20px;
    background-color: rgb(25, 25, 25);
    border: 1px solid grey;
    text-align: center;
}

.btn-danger{
    background-color: fuchsia;
}

.btn-danger:hover{
    background-color: rgb(255, 100, 255);
}

.myModal{
    position: absolute;
    min-height: 200px;
    width: calc(100vw - 25px);
    top: 5px;
    left: 5px;
    background-color: black;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 10px;
}

.myModal-header{
    border-bottom: 1px solid rgb(73, 73, 73);
}

.myModal-title{
    color: white;
    text-shadow: 2px 2px 2px fuchsia;
}

.myModal-footer{
    height: 50px;
    border-top: 1px solid rgb(73, 73, 73);
}

.modal-btnClose{
    height: 30px;
    width: 30px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(73, 73, 73);
}


.cart-empty{
    color: white;
}

.myModal-footer{
    position: relative;
}

.checkOutBtn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.cart-delete{
    position: absolute;
    right: 100px;
    bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.modal-btnClose2{
    position: absolute;
    right: 190px;
    bottom: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(73, 73, 73);
}

footer{
    height: 300px;
}

/* details page */

.details-content{
    margin-top: 100px;
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    border: 2px solid fuchsia;
}

.obj-img{
    width: 100%;
}

.obj-title, .obj-id, .obj-price, .obj-category{
    color: white;
    font-size: 16pt;
}