body, .dropdown-menu{
    width: 100vw;
    background-color: black;
}

.dropdown-menu{
    inset: 15px auto auto 0px !important;
}

#dropdownMenu2:focus, .cardsBtn:focus{
    background-color: fuchsia;
    border-color: fuchsia;
    box-shadow: none;
}

.logo{
    height: 45px;
    margin: 25px 10px 0px 10px;
}

.link-nav{
    list-style-type: none;
    padding: 5px;
}

.link-nav > a{
    color: white;
    text-decoration: none;
    font-size: 10pt;
    text-shadow: 1px 2px fuchsia;
}

.social{
    padding: 0px 20px;
}
.social > i{
    color: white;
    padding: 10px;
    text-shadow: 1px 2px fuchsia;
    cursor: pointer;
}

.social > i:hover, .link-nav >a:hover{
    color: fuchsia;
    text-shadow: none;
}

.search{
    color: white;
    border-radius: 20px;
    background-color: rgb(25, 25, 25);
    border: 1px solid grey;
    text-align: center;
}

.btn-primary{
    background-color: fuchsia;
}

.btn-primary:hover{
    background-color: rgb(255, 100, 255);
}

.cart{
    height: 80vh;
    border: 1px solid white;
    border-radius: 10px;
}

.cart > p{
    color: white;
}
